.mint-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.mint-body {
  display: flex;
  background: #f39d8b;
  border: 3px solid #ccc;
  border-radius: 16px;
  border-color: transparent;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mint-header {
  font-size: 28px;
  font-weight: 700;
  color: #333;
}

.price {
  display: flex;
  justify-content: left;
  align-items: center;
  
  margin-bottom: 20px;
}

.mint-input {
  width: 220px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  border-color: transparent;
}

.nft-text {
  margin-left: 10px;
}

.mint-button {
  font-weight: 700;
  width: 100%;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 10px;
  color: #f39d8b;
  cursor: pointer;
  transition: background-color 0.3s;
 
  margin-bottom: 20px;
}

.mint-button:hover {
  background-color: #e6e6e6;
}

.mint-body1 {
  /* width: 440px;  */
}

.mint-body2 {
  margin-left: 20px;
}

.logo-background-img {
  width: 320px;
  border-radius: 16px;
}