.navbar {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.proposal-container {
    display: flex;
    /* Flexbox 레이아웃 사용 */
    margin: 0;
    /* 가로축 중앙 정렬 */
    align-items: center;
    /* 세로축 중앙 정렬 */
    justify-content: center;
}


.menu {
    display: flex;
    margin-left: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.item {
    margin-left: 60px;
    transition: transform 0.3s;
}

.item:hover {
    transform: scale(1.1);
}


.btn {
    margin-left: 100px;
    width: 150px;
    height: 36px;
    border-radius: 10px;
    border-color: transparent;
    color: #f39d8b;
    background-color: white;
    font-weight: 600;
}

/* propsal */
.proposal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.round {
    margin-right: 60px;
}

.date {
    display: flex;
    text-align: center;
    align-items: center;
}

.board {
    width: 300px;
    /* 박스의 너비 */
    height: 600px;
    /* 박스의 높이 */
    background-color: #f39d8b;
    border-radius: 10px;
    /* 박스의 배경색 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 박스에 그림자 추가 */
    padding: 20px;
    /* 내용과 박스 경계 사이의 여백 */
    margin: 20px;
    /* 박스 주변의 여백 */
    display: grid;
}

.project-img {
    width: 90%;
    height: 50%;
    border-radius: 10px;
}

.board-header {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.board-body {
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Link_input {
    text-align: center;
    border-radius: 10px;
    border-color: transparent;
    padding: 6px 0px;
    margin-left: 10px;
    width: 67%;
}

.price-input {
    text-align: center;
    width: 190px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color: transparent;
}

.board-footer {
    margin-top: 20px;
}

.board-footer button {
    border-color: transparent;
    border-radius: 10px;
    background-color: white;
    color: #f39d8b;
    font-weight: 600;
    width: 90%;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.board-footer button:hover {
    scale: 1.05;
}

.add-board {
    display: flex;
    justify-content: center;
}

.add-content {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 48px;
    color: white;
    /* "+" 문자의 크기 설정 */
    text-align: center;
    justify-content: center;
    align-items: center;
}

.add-content:hover {
    scale: 1.5;
}

.submit-button {
    border-color: transparent;
    background-color: white;
    border-radius: 10px;

    font-weight: 600;
    color: #f39d8b;

    padding: 2px 0px;
    margin: 20px 0px;

    cursor: pointer;
}

.submit-button:hover {
    scale: 1.05;
}
